<layout name="layout" />
<script type="text/javascript">
    $(function() {
        $('#dg').datagrid({
            title:'操作日志',idField:'logid', striped:'true',pagination:'true',rownumbers:true,singleSelect:true,url:'__ROOT__/Admin/Log/query',toolbar:'#toolbar',pageSize:20,
            columns:[[
                {field:'userid',title:'账号'},
                {field:'name',title:'姓名'},
                {field:'role',title:'角色'},
                {field:'requesttime',title:'访问时间'},
                {field:'remoteip',title:'访问IP'},
                {field:'action',title:'执行操作'},
                {field:'success',title:'成功'},
                {field:'data',title:'提交数据'},
            ]]
        });
    });
    function destroy(){
       $.messager.confirm('确认','你确定要清空日志么？',function(r){
          if (r){
              $.post('__ROOT__/Admin/Log/delete',function(result){
                  if (result.status==1){
                       $('#dg').datagrid('reload');	// reload the user data
                       $.messager.show({	// show error message
                          title: '成功',
                          msg: result.info
                       });
                  }
                  else {
                      $.messager.alert(result.status,result.info,'error');
                   }
               },'json');
          }
       });
    }
    function search(){
        var tt=$('#dg');
        tt.datagrid('loadData',{total:0,rows:[]});
        tt.datagrid('load', {
            start: $("#searchstart").datebox("getValue"),
            end: $("#searchend").datebox("getValue"),
            userid:$('#searchid').val(),
            action:$('#searchaction').val(),
            success:$('#success').combobox('getValue')
        });
    }
</script>

<div class="container">
    <div id="toolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon icon-remove" plain="true" onclick="destroy()">清空日志</a> |
        从 <input id="searchstart" class="easyui-datetimebox" size="18"/> 到
        <input id="searchend" class="easyui-datetimebox" size="18"/>
        帐号:<input id="searchid" class="easyui-validatebox" onkeydown="if(event.keyCode==13) search();" size='8' value="%"/>
        动作：<input id="searchaction" class="easyui-validatebox" onkeydown="if(event.keyCode==13) search();" size="20" value="%"/>
        <label for="success">结果：</label>
        <select class="easyui-combobox" id="success" data-options="panelHeight:80" >
            <option value="">全部</option>
            <option selected="selected" value="0">失败</option>
            <option value="1">成功</option>
        </select>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon icon-search" plain="true" onclick="search()">筛选日志</a>
    </div>
    <table id="dg"></table>
</div>